.catkin_tools
.obj-x86_64-linux-gnu
build
debian
devel
logs
*.deb
*.ddeb
!tests/resources/test_debs/*.deb

.pybuild
*.egg-info

htmlcov
.coverage
coverage.xml

.ruff_cache
.mypy_cache
.pytest_cache

dist
venv
.venv

*.pyc

robenv
!src/robenv
